.status {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: red;
}

.status_isOnline {
  background-color: green;
}

.item {
  display: flex;
  align-items: center;
  gap: 35px;
  background-color: rgb(238, 241, 231);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 30px 20px;
}

.box_img {
  width: 78px;
}
.avatar {
  filter: drop-shadow(2px 2px 7px rgba(0, 0, 0, 0.5));
}
.name {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.166;
}
