* {
  box-sizing: border-box;
}

body {
  padding: 60px 20px;
  background-color: rgb(214, 247, 247);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: 'center';
  height: '100vh';
  color: '#010101';
  font-size: 40px;
}
