.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% / 5);
  color: rgb(249, 249, 248);
  text-align: center;
  padding: 20px 0;
  line-height: 1.166;
}
.label {
  font-size: 32px;
  font-weight: 500;
}
.percentage {
  font-size: 36px;
  font-weight: 700;
}
